# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
tests/notifications_create_test.yaml

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
vendor/

# Go workspace file
go.work

# Build directory (from our Makefile)
bin/

#ai
.agents

# Environment variables
.env

# Editor directories and files
.vscode/
.idea/
__debug* 
